/* Align the dropdown, radio items, and checklists horizontally */
#demographic-selector,
#demographic-options,
#spending-categories,
#earning-categories {
    display: inline-block;
    vertical-align: top;
    margin: 10px;
}

/* Adjust spacing between elements */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Set background color */
body {
    background-color: #f4f4f4;
}

/* Adjust spacing between charts */
#bar-chart-spending,
#bar-chart-earning,
#bar-chart-total,
#pie-chart {
    margin-bottom: 20px;
}

/* Set a border around charts */
.graph-container {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    background-color: white;
}
